/* aboutUsPage.css is used to style the aboutUsPage.html file */

@import 'global.css';
@import 'navbar.css';

body {
    background-color: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
    font-family: "font1";
}

.mission-statement {
    color: white;
    margin-left: 4%;
}
    

.mission-statement-content {
    margin-left: 15%;
    text-align: left;
    color: black;
    height: 200px;
    width:75%;

}

/* For screens smaller than 280 pixels */
@media (max-width: 291px) {
    .mission-statement-content{
        font-size: 0.5em;
    }
    .mission-statement{
        font-size: 0.9em;
    }
}

/* For screens smaller than 388 pixels */
@media (max-width: 388px){
    .mission-statement-content{
        font-size: 0.6em;
    }
}


/* For screens larger than 389 pixels */
@media (min-width: 389px) {
    .mission-statement-content{
        font-size: 0.8em;
    }
}

/* For screens larger than 768 pixels */
@media (min-width: 769px) {
    .mission-statement-content{
        font-size: 1em;
    }
}

