/* index.css is used to style the index.html file */

@import '/css/global.css';
@import '/css/navbar.css';

body {
    background-color: var(--background-color);
    font-family: "font1", sans-serif;
    color: var(--white-text);
    margin: 0;
    padding: 0;
}

/* container for top page */
.top-container {
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 50px;
max-width: 1200px;
margin-right: 10%;
margin-left: 10%;
flex-wrap: wrap;
}

/* Total Scans Popup */
.button {
    display: flex;
    background-color: var(--secondary-color); 
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%; 
    cursor: pointer;
    font-family:'Arial';
    color: var(--black-text);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#counter {
    font-family:'Helvetica';
    font-size: 30px; 
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style for the blurb */
.blurb-text {
    color: var(--black-text);
    font-size: 30px;
    line-height: 1.4;
    flex: 1;
    margin: 0 20px;
    font-family: Arial;
}

/* Search Bar */
.bottom-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 20px;
    gap: 10px;
}
  
.search-label {
    font-size: 28px;
    color: var(--white-text);
    white-space: nowrap;
}
  
#search-input {
    padding: 10px;
    font-size: 28px;
    border: 2px solid var(--background-color);
    border-radius: 5px;
    flex-grow: 1;
    max-width: 500px;
}
  
#search-button {
    padding: 12px 20px;
    background-color: var(--navbar-color);
    color: var(---white-text);
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100px;
    height: 55px;
}

/* Responsiveness  */
@media (max-width: 770px) {
    .top-container{
        flex-direction: column;
        align-items: center;
        margin-right: 4%;
        margin-left: 4%;
    }
    .button{
        margin-top: -2%;
        width: 90%;
        height: 20vw;
        border-radius: 9px;
        font-size: 3.8vw;
    }
    #counter {
        top: 65%;
        font-size: 3.8vw;
    }
}

@media (max-width:640px){
    .top-container{
        margin-top: -5%;
    }
    .bottom-container{
        flex-direction: column;
        margin-top: -5%;
        margin-bottom: 0%;
    }
    #search-input {
        width: 100%;
        margin-left: 15%;
        margin-right: 15%;
    }
    .search-label {
        text-align: center;
        margin-right: 40%;
        margin-bottom: -3%;
    }
    #search-button{
        height: 50px;
        width: 90%;
    }
    .blurb-text{
        font-size: 5.8vw;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    margin-top: -14%;
    width: 100%; /* Full width */
    height: 130%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
    padding: 1px 1px;
    color: black;
    position: absolute; 
    top: 0; 
    left: 3; 
    font-size: 1.8vw;
  }

  /*Modal Subheadings */
.modal-subheadings{
    color: #333333;
    font-size: 1vw;
    position: absolute; 
    top: 11%; 
    left: 3; 
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 65%; /* Could be more or less, depending on screen size */
    height: 65%;
    position: relative;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

/* Styling for Preset Buttons */
.preset-button {
    width: 150%;
    height: 40px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 5%;
    border: 1px solid #999;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black; 
    font-weight: bold;
    font-size: 1vw;
}

.preset-button:hover {
    background-color: #ddd; /* Hover background color */
}

.preset-button:active {
    background-color: #999; /* Active background color */
}

/* Styling for Color Commit Buttons */
.button-commit {
    width: 45%; /* Adjust as needed */
    padding: 15px; /* Adjust as needed */
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Red Button */
.red {
    background-color: #ff4d4d; /* Red background color */
    color: white; /* Text color */
}

.red:hover {
    background-color: #ff6666; /* Hover background color */
}

/* Green Button */
.green {
    background-color: #4caf50; /* Green background color */
    color: white; /* Text color */
}

.green:hover {
    background-color: #66bb6a; /* Hover background color */
}

/* Additional Styling */
.bottom-buttons {
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Styling for HexCode Boxes */  
.color-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 12%;
    margin-left: 21%;
}

.color-box {
    width: calc(22% - 10px);
    padding: 5px;
    margin: 5px;
    border: 2px solid #ccc;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.color-rectangle {
    width: 80%;
    height: 25px;
    margin: 3px auto;
    border: 1px solid black;
}

.color-box h3 {
    margin-bottom: 1px;
    color: black;
    font-size: 1vw
}

.color-box p {
    margin: 0;
    color: black;
    font-size: 0.8em;
}

/* Responsiveness For The Color Picker */ 
