/* index.css is used to style the index.html file */

@import '/css/global.css';
@import '/css/navbar.css';

body {
    background-color: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
}

.homepage-top-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Style for the button */
.button-container {
    background-color: white; 
    position: relative;
    transform: translate(35%,5%);
    border-radius: 50%; 
    cursor: pointer;
    margin: 0 auto;
}
  
.button-content {
    font-family:'Arial';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
}

#counter {
    font-family:'Helvetica';
    font-size: 6em; 
    font-weight: bold;
}

/* Style for the blurb */
.blurb-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 5%;
}

.blurb-text {
    text-align: justify; 
    max-width: 800px; 
    color: black;
    font-size: 30px;
    line-height: 1.4
}

/* Scan Input */
.search-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translate(30%,52%);
    gap: 10px;
}

#clickableInput {
    width: 700px;
    height: 60px;
    background-color: #e0e0e0;
    cursor: pointer;
}

#inputText {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 26px;
    padding: 0;
    margin: 0;
}
  
#searchText {
    font-size: 26px; 
    color: white; 
    font-family: Arial;
}

#scan-rectangle {
    width: 125px;
    height: 60px;
    background-color: #7723d8; 
    color: #fff; 
    text-align: center;
    line-height: 50px;
    border-radius: 5px; 
    font-family: Arial;
    font-size: 26px; 
}

/* For screens smaller than 280 pixels */
@media (max-width: 291px) {
    .blurb-text{
        font-size: 0.5em;
    }
    .flex-container{
        flex-direction: column;
    }

}

/* For screens smaller than 388 pixels */
@media (max-width: 388px){
    .blurb-text{
        font-size: 0.6em;
    }
    .button-content{
        font-size: 0.6em;
    }
    .flex-container{
        flex-direction: column;
    }
    .button-container {
        height: 100vw;
        width: 100vw;
    }
}


/* For screens larger than 389 pixels */
@media (min-width: 389px) {
    .blurb-text{
        font-size: 0.8em;
    }
    .button-content{
        font-size: 0.8em;
    }
    .button-container {
        height: 50vw;
        width: 50vw;
        padding: 2px;
    }
}

/* For screens larger than 768 pixels */
@media (min-width: 769px) {
    .blurb-text{
        font-size: 1em;
    }
    .button-content{
        font-size: 0.8em;
    }
    .button-container {
        height: 23vw;
        width: 23vw;
    }
}


