/* index.css is used to style the index.html file */

@import '/css/global.css';
@import '/css/navbar.css';

body {
    background-color: var(--background-color);
    font-family: "font1", sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* container for top page */
.top-container {
display: flex;
align-items: center;
justify-content: space-around;
padding-top: 50px;
max-width: 1200px;
margin: auto;
flex-wrap: wrap;
}


.button {
    display: flex;
    background-color: white; 
    position: relative;
    height: 250px;
    width: 250px;
    border-radius: 50%; 
    cursor: pointer;
    font-family:'Arial';
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#counter {
    font-family:'Helvetica';
    font-size: 30px; 
    font-weight: bold;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Style for the blurb */
.blurb-text {
    color: black;
    font-size: 30px;
    line-height: 1.4;
    flex: 1;
    margin: 0 20px;
    font-family: Arial;
}

/* Scanner */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 20px;
    gap: 10px;
}

#clickableInput {
    width: 700px;
    height: 60px;
    background-color: #e0e0e0;
    cursor: pointer;
}

#inputText {
    display: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 26px;
    padding: 0;
    margin: 0;
}
  
#searchText {
    font-size: 26px; 
    color: white; 
    font-family: Arial;
}

#search-button {
    padding: 12px 20px;
    background-color: #7723d8; 
    color: white; 
    text-align: center;
    line-height: 50px;
    height: 45px;
    width: 60px;
    border-radius: 5px; 
    border: none;
    font-family: Arial;
    font-size: 26px; 
}

/* Responsiveness  */
@media (max-width: 769px) {
    .top-container{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px){
    .bottom-container{
        flex-direction: column;
    }
}

@media (max-width: 320px) {
    .button{
        width: 200px;
        height: 200px;
        font-size: 20px;
    }
}

@media (max-width: 280px) {
    .button {
        width: 150px;
        height: 150px;
        font-size: 15px;
    }  
    .counter {
        bottom: 10px;
        font-size: 10px;
    }
}

@media (max-width: 770px) {
    .button{
        width: 500px;
        height: 150px;
        font-size: 25px;
        border-radius: 5%;
    }
}


