/* scanPage.css is used to style the scanPage.html file */

@import 'global.css';
@import 'navbar.css';

body {
    background-color: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
}

#scanPage-container {
    position: absolute;
    background-color: black;
    border: 10px solid rgba(133, 42, 252, 0.861);
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    font-family: 'font1';
    padding: 0px 10px;
}

#scanPage-first-container {
    margin-top: 5px;
}

#scanPage-initial-container p {
    margin: 10px 0px;
}

#scanPage-scan-target-container {
    display: flex;
    flex-direction: row;
}

#scanPage-scan-target {
    color: var(--blue-text);
}

#scanPage-progressBar {
    margin: 20px 0px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#scanPage-time-elapsed {
    margin-bottom: 30px;
}

.scanPage-risk-container {
    display: flex;
    flex-direction: row;
    margin: -20px 0px;
}

#scanPage-low-risk {
    color: yellow;
}

#scanPage-medium-risk {
    color: orange;
}

#scanPage-high-risk {
    color: red;
}