/* scanPage.css is used to style the scanPage.html file */

@import 'global.css';
@import 'navbar.css';

body {
    background-color: var(--background-color);
    color: white;
    margin: 0;
    padding: 0;
}

#scanPage-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
}

#scanPage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    border: 10px solid rgba(133, 42, 252, 0.861);
    height: 50vh;
    max-height: 480px;
    width: 70vw;
    max-width: 800px;
    font-family: 'font1';
    padding: 0px 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#scanPage-initial-container {
    margin-bottom: 10px;
}

#scanPage-initial-container p {
    margin: 5px 0px;
}

#scanPage-scan-target-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#scanPage-scan-target {
    color: var(--blue-text);
    text-decoration: none;
}

#scanPage-time-elapsed {
    margin-top: -0px;
    margin-bottom: 30px;
}

.scanPage-risk-container {
    display: flex;
    flex-direction: row;
    margin: -20px 0px;
}

#scanPage-low-risk {
    color: yellow;
}

#scanPage-medium-risk {
    color: orange;
}

#scanPage-high-risk {
    color: red;
}

#scanPage-vulnerabilities-container {
    margin-bottom: 100px;
}

#scanPage-view-details-container {
    text-align: center;
}

#scanPage-view-details-container a {
    color: white;
}

@media screen and (max-width: 400px), (max-height: 850px) {
    #scanPage-container {
        font-size: 14px;
    }

    #scanPage-container {
        height: 420px;
    }
}