/* aboutUsPage.css is used to style the aboutUsPage.html file */

@import './global.css';
@import './navbar.css';

body {
    background-color: var(--background-color);
    color: var(--white-text);
    margin: 0;
    padding: 0;
}