@import 'global.css';
@import 'navbar.css';
@import 'colorPicker.css';
@import 'languageSelector.css';

body {
  background-color: var(--background-color);
  color: var(--white-text);;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: font1;
}

#termsOfUseContainer{
  margin: 10px 15px;
}